.body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-color: #00000052;
    background-blend-mode: color;
}

.form-check {
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.form-check-input {
    width: 3em !important;
    height: 1.5rem;
}

.form-check-input:checked {
    background-color: #c20345;
    border-color: #c20345;
}


/* .day {
    max-width: 20%;
} */

.day:has(.form-check-input:not(:checked)) {
    opacity: .5;
    pointer-events: none;
}

.day .form-check-input {
    pointer-events: all;
}

.repeater {
    position: relative;
}

.close {
    position: absolute;
    top: -12px;
    left: -12px;
    cursor: pointer;
}

.close svg {
    width: 24px;
    height: 24px;
}

input.border-0 {
    box-shadow: none;
    outline: none;
}

.tag-input {
    width: 100%;
}

.badge.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6px !important;
}